@import "../../variables";

.wizard {
    .settings {
        height: 1.5rem;
        width: 1.5rem;
        &:hover {
            cursor: pointer;
        }

    }  
    .error-message {
        color: $orange-pantone;
    }

    .pokemonline-name {
        &:hover {
            cursor: pointer;
            text-decoration: line-through;
        }
    }
}
